/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #3f548d;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #3f548d;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background:  rgba(154, 186, 220, 0.93);
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}

.navbar #sidebar-close:hover {
  color: #3f548d;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: url(download.jpg);
    background-attachment:fixed;
    background-size: cover;
  }
  .main h1 {
    color: #11101d;
    font-size: 40px;
    text-align: center;
  }
  
  .card{
    background: #fff;
    padding: 20px;
    margin-bottom: 25px;
    font-size: 14px;
    border-radius: 5px;
    width: 760px;
    height: 500px;
    margin-left: 50px;
    align-items: center;
    margin-right: 50px;
    margin-top: 100px;
  }
  
  .card p{
    font-size: 30px;
    align-content: center;
    font-weight: 500;
  }
  .card button {
      margin: 10px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background: #3f548d;
      color: #fff;
  }
  .card button:hover {
      color: #000000;
      background: #5bc27c;
  }


h1 {
  text-align: center;
}

#kuis-container {
  width: 500px;
  margin: 0 auto;
}

#pertanyaan-container {
  margin-bottom: 10px;
}

#jawaban-container {
  margin-bottom: 10px;
}

#selanjutnya-button {
  display: block;
  margin: 0 auto;
}
